  /* Keyframes for fade-in animation */
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  /* Apply fade-in effect to the image */
  .fade-in {
    animation: fadeIn 3s ease-out forwards; /* Change duration (3s) as needed */
  }

/* Add custom animation for header */
@keyframes slideIn {
  0% {
      transform: translateY(-100%);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

.slide-in {
  animation: slideIn 1s ease-out forwards;
}
.gif-slow {
animation: slow-motion 10s infinite;
}

@keyframes slow-motion {
0% {
  transform: scale(1);
}
100% {
  transform: scale(1);
}
}

.scroll-logo {
  animation: scroll 10s infinite;
}

@keyframes scroll {
  0% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-50%, 100vh); /* Moves the logo to the bottom */
  }
}
